body{
    background-color: rgb(13,26,45);
    font-family: cursive;
}
.Equilibrium {
    width: 100%;
    border-radius: 8px;
}

.card {
    position: fixed;
    margin: auto;
    inset: 0;
    padding: 23px;
    height: 560px;
    width: 100%;
    max-width: 330px;
    border-radius: 16px;
    background-color: rgb(21,39,63);
    box-shadow: 0px 18px 9px 14px rgb(11, 22, 35);
}
p {
    font-size: 17px;
    color: rgb(138,175,218);
}
h3{
    font-size: 20px;
    color: white;
}

.text{
     color: rgb(27,209,213);
     font-size: 15px;
     font-weight:550;
}
.left{
    margin-left: 160px;
    color: rgb(138,175,218);
}
.block{
    margin-bottom: 20px;
}
.avatar{
    width: 40px;
    margin-top: 10px;
    border: 2px solid white;
    border-radius: 30px;
    vertical-align: middle;
}
.code{
    color: white;
    margin-left: 20px;
    display: inline;
}